:root {
  --global-font-family: 'Segoe WP N', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --global-font-size: 16px;
  /* --global-line-height: 2.35; */
  --global-color: #909090;
  --global-muted-color: #999;
  --global-link-color: #5094f2;
  --global-link-hover-color: #1b78f9;
  --global-inverse-color: #fff;
  --global-background: #fff;
  --global-primary-background: #5094f2;
  --global-secondary-background: #1b78f9;
  --global-muted-background: #969696;
  --global-success-background: #32d296;
  --global-warning-background: #faa05a;
  --global-danger-background: #f0506e;
  --global-border-width: 1px;
  --global-border: #e5e5e5;
  --global-margin: 20px;
  /* --global-gutter: 30px; */
  --global-control-height: 40px;
}
