:root {
  --button-color: #fff;
  --button-background: var(--global-primary-background);
  --button-font-family: inherit;
  --button-font-size: 22px;
  --button-font-weight: normal;
  --button-padding: 12px 12px;
  --button-height: var(--global-control-height);
  --button-color-hover: #fff;
  --button-background-hover: var(--global-secondary-background);
  --button-color-focus: #fff;
  --button-background-focus: var(--global-secondary-background);
  --button-color-active: #fff;
  --button-background-active: var(--global-secondary-background);
}
/* Buttons */

/* ================================= */

button,
input[type="button"],
input[type="submit"],
.button {
  border-radius: 4px;
}
